#flower{
    animation: grow 2s ease-in-out infinite;
}

@keyframes grow{
    0% {
        transform: scalex(1) translate(15px, 4px);
    }
    30% {
        transform: scalex(1.03) translate(15px, 4px);
    }
    60% {
        transform: scalex(1) translate(15px, 4px);
    }
    80% {
        transform: scalex(1.03) translate(15px, 4px);
    }
    100% {
        transform: scalex(1) translate(15px, 4px);
    }
}
/* 
#flower{
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
}

@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
} */
