html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(10em, 1fr))
    grid-template-rows: min-content auto min-content;
}

header, footer {
    grid-column: 1 / 4;
}