@import"../default.css";

#primary-section, 
#secondary-section{
    flex: 1;
}

#primary-section{
    order: 2;
}

#secondary-section{
    order: 1;
    flex-direction: column;
}

.box {
    padding: 20px;
    flex: 1;
}

#primary-section .box:nth-last-child(1){
    background-color: #bb3d2b;
    color: #f5fcff;
}

#secondary-section .box:nth-last-child(1){
    background-color:pink;
}

#secondary-section .box:nth-last-child(2){
    background-color: red;
}